<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.12.0.10-ALPHA" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net40" />
  <connectionStrings>
    <add name="PhoneShop.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="PhoneShopdbEntities" connectionString="metadata=res://*/DataAccess.DataModel.csdl|res://*/DataAccess.DataModel.ssdl|res://*/DataAccess.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\PhoneShopdb.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</packages>